*.suo
/bin
/obj
/*.zip
/*.user
/Scale_FAR/bin
/Scale_FAR/obj
/Scale_KAS/bin
/Scale_KAS/obj
/Scale_TweakableEverything/bin
/Scale_TweakableEverything/obj
/Scale_Redist/bin
/Scale_Redist/obj
/Scale_Editor/bin
/Scale_Editor/obj
/lib
/Releases