*.suo
/bin
/obj
/*.zip
/*.user
/TweakScale_ModularFuelTanks/bin
/TweakScale_ModularFuelTanks/obj
/TweakScale_RealFuels/bin
/TweakScale_RealFuels/obj
/Scale_Redist/bin
/Scale_Redist/obj
/Scale_Editor/bin
/Scale_Editor/obj
/lib
/Releases
Gamedata/TweakScale/TweakScaleInteraction/TweakScale_RealFuels.dll